POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_password
POSTGRES_DB=landing_db
POSTGRES_PORT=5432

CLICKHOUSE_DB=dwh
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=password
CLICKHOUSE_PORT=8123

AIRBYTE_EMAIL=your_email
AIRBYTE_PASSWORD=your_password
